.card {
    background-color: rgba(2, 66, 197, 0.9);
    width: 80vw;
    /*max-width: 80vw;*/
    height: 80vh;
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    top: 10vh;
    left: 10vw;
}