.main{
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
    padding: 20px;
    max-height: 80vh;
}

.form_header{
    text-align: left;
    flex-direction: column;
}

.form_body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form_body input{
    border-radius: 40px;
    height: 40px;
    margin: 10px;
    font-size: large;
    background-color: #1a1a1a;
    padding-left: 10px;
    padding-right: 10px;
}

.form_body button{
    background-color: #05cc11;
    border-radius: 40px;
    height: 40px;
    margin: 10px;
    padding: 0;
}

.form-footer a:hover{
    color: #05cc11;
    cursor: pointer;
}


form{
    /*display: block;*/
}